button{
    padding: 15px;
}
body{
    transition: all ease 0.4s;
}
/* #Red{
    background-color: red;
}
#Blue{
    background-color: blue;
}
#Green{
    background-color: green;
}
#Reset{
    background-color: white;
} */